.article {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 100px;
  gap: 45px;
}

.img_card {
  border: 5px solid greenyellow;
  border-radius: 5%;
}
.element_card {
  border: 2px solid greenyellow;

  padding: 10px;
  &__li {
    color: greenyellow;
  }
}

.main_card {
  background-color: black;
  height: 100vh;
}
.return {
    :hover {
        transform: scale(1.10);
    }
    font-size: x-large;
    color: greenyellow;
    display: flex;
    justify-content: center; 
   
  }