.footer{
    background-color: black;
    display: flex;
    padding: 20px;
    justify-content: space-between;
}
.footer__text{
    color: greenyellow;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}